.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.contact img {
  width: 90%;
  height: auto;
  margin: 50px 0;
}

label {
  font-size: 18px;
}

.right h2 {
  text-align: center;
  margin-top: 50px;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid gray;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form {
  margin-top: 20px;
}



@media(max-width:650px) {
  header {
	position: absolute;
	height: 80px;
  }

  .contact {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
  }

  .contact h2 {
	margin-top: 20px;
  }

  .contact img {
	width: 100%;
	margin-top: 100px;
	height: auto;
  }

  footer {
	bottom: 0;
	margin: 20px 0;
	position:inherit;
  }
}
