* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}


body {
	margin: 0 auto;
	width: 1100px;
	background: #e5e3e3;
}

header {
	display: flex;
	height: 80px;
	margin-top: 20px;
	align-items: center;
	justify-content: space-between;
}


.logo img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

nav ul {
	display: flex;
}

nav ul li {
	margin-left: 20px;
}

nav ul li a {
	font-size: 18px;
	text-transform: uppercase;
}

nav ul li a:hover{
  padding-bottom: 5px;
  border-bottom: 2px solid orange;
}

footer {
	position: absolute;
	bottom: 10px;
	width: 80%;
}

footer > p {
	text-align: center;
	font-size: 18px;
}
